
.collapse {
    flex: 1;
    container: collapse / inline-size;
}

.logement-details {
    font-size: var(--fs-paragraph);
}

.logement-summary {
    font-size: var(--fs-subtitle-0);
}

.values-summmary {
    font-size: var(--fs-subtitle-2);
}

.values-details {
    font-size: var(--fs-nav-links);
}

.details[open] {
    border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
    background-color: var(--color-gray);
}

.summary-icon {
    width: 24px;
    height: 15px;
    mask-size: cover;
    background-color: var(--bg);
}

.details[open] .summary-icon {
    mask: url("../assets/upArrow.svg") no-repeat;
}

.details:not([open]) .summary-icon {
    mask: url("../assets/downArrow.svg") no-repeat;
}

.summary {
    font-size: var(--fs-subtitle-0);
    cursor: pointer;
    height: 52px;   /* 3.25rem */
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 18.65px;
    text-shadow: var(--text-shadow);
}

.details-text {
    font-weight: 400;
    font-size: var(--fs-paragraph);
    padding-block: var(--fs-title);
    padding-inline: var(--padding-inline-0);
}

@container collapse (width <= 420px) {
    .summary-icon {
        width: 15px;
        height: 10px;
        mask-size: cover;
    }
}