.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-inline: auto;
    padding-inline: 1rem;
}

.error-page h1 {
    font-weight: 700;
    font-size: var(--fs-404);
    margin: 8rem auto 1rem;
}

.error-page p {
    font-size: var(--fs-title);
}

.error-page a {
    color: var(--text);
    text-decoration: underline;
    font-size: var(--fs-subtitle-1);
    transition: 0.3s;
    margin: auto;
}

.error-page a:hover {
    color: var(--text);
    text-decoration: underline;
    transform: scale(1.3);
}