.header-primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;   /* 40px */
    padding-inline: var(--padding-inline-page);
}

.header-primary > img {
    height: var(--height-logo);
}

.header-primary ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.navlink {
    color: var(--text);
    font-size: var(--fs-nav-links);
    transition: 0.2s;
    text-decoration: underline;
    --color-text-shadow: var(--bg);
    text-shadow: var(--text-shadow);
}

.navlink:hover {
    --color-text-shadow: var(--color-black);
    text-shadow: var(--text-shadow);
}

@container root (width < 500px) {
    .header-primary {
        padding-inline: 1rem;
        padding-top: 1.5rem;
    }

    .header-primary ul {
        gap: 1rem;
    }
}

@container root (width < 320px) {
    .header-primary {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
}

