.logement {
    container: logement / inline-size;
}

.article-section, .collapse-wrapper, .host-rate-wrapper, 
.title-tag-wrapper, .title-wrapper {
    display: flex;
    flex-direction: column;
}

.article-section, .collapse-wrapper {
    margin-block: 30px;
    gap: 1rem;
}

.title-tag-wrapper, .host-rate-wrapper {
    padding-block: var(--wrapper-padding-block);
    justify-content: space-between;
    gap: 20px;
}

.title-wrapper {
    gap: .5rem;
    flex: 1;
}

.title-wrapper > h1 {
    font-size: var(--fs-title);
}

.title-wrapper > h2 {
    font-size: var(--fs-subtitle-1);
}

@container logement (width > 768px) {
    .article-section, .collapse-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .title-tag-wrapper {
        flex: 3;
    }

    .host-rate-wrapper {
        align-items: end;
        flex: 1;
    }
}

@container logement (width <= 768px) {
    .title-tag-wrapper, .host-rate-wrapper {
        gap: 10px;
        flex: 1;
        justify-content: left;
    }

    .host-rate-wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}


.article-section {
    padding:10px;
    border-radius: 10px;
}