.tag-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding-inline: 10px;
    padding-block: 10px;
    min-width: 115px;
    border-radius: var(--border-radius-0);
    font-size: var(--fs-tags);
    text-shadow: var(--text-shadow);
}